<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>

<body>
    <h1>Updating Author Data - <a href="/">Home</a></h1>
    <form method="POST" action="/author/edit">
        <input type="hidden" name="authorId" value="<%=authorInfo[0].authorId%>">
        First Name:
        <input type="text" name="fName" value="<%=authorInfo[0].firstName%>">
        <br>
        Last Name:
        <input type="text" name="lName" value="<%=authorInfo[0].lastName%>">
        <br>
        Date of Birth:
        <input type="date" name="dob" value="<%=authorInfo[0].dobISO%>">
        <br>
        Sex:
        <input type="radio" name="sex" value="M" <% if (authorInfo[0].sex=="M" ) { %>checked<% } %> > Male
        <input type="radio" name="sex" value="F" <% if (authorInfo[0].sex=="F" ) { %>checked<% } %> > Female
        <br>
        <button>Update Author</button>
    </form>
    <br>
    <% if (typeof message !="undefined" ) { %>
        <h3>
            <%=message%>
        </h3>
        <% } %>
</body>

</html>