<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>

<body>
  <h1><a href="/">Adding a new Quote</a></h1>
    
    <form method="POST" action="/quote/new">
        Quote:
        <input type="text" name="quote"><br>
        Author ID:
      <select name="authorId">
        <% for (author of authorDB) { %>
          <option value="<%=author.authorId %>">
            <%=author.firstName %> <%=author.lastName %>
            </option>
              <% } %>

              </select><br>
                Category:
      <select name="category">
          <% for (cat of catDB) { %>
            <option value="<%=cat.category %>">
              <%=cat.category %>
              </option>
                <% } %>

                </select>      <br>
        Likes:      
      <input type="text" name="likes">
      <br>
        <button>Add Quote</button>
    </form>
  <br>

  <% if (typeof message != "undefined") { %>
    <h3><%=message%></h3>    
   <% } %>

</body>

</html>